<div class="jumbotron jumbotron-landing">
  <h1 class="h1-font-size">Діліться своїми емоціями</h1>
  <p class="lead">Розміщуйте свої фотографії та пишіть коментарі</p>
  <hr class="m-y-2">

  <p class="lead">
    <a class="btn btn-warning" href="#" role="button">Створити акаунт</a>
    <a class="btn  btn-primary" href="#" role="button">Вхід</a>
  </p>
</div> 





